<html>

<head>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <center>
        <div id="warning">
            <h1>FAILED!!</h1>
            <h2>Please recheck the following</h2>
        </div>
        <div id="message">
            <h3>
                <% if(data.length> 0) {%>
                    <% for(var i=0; i< data.length; i++) {%>
                        <div>
                            <%= data[i].msg%>
                        </div>
                        <% } %>
                            <% } %>
            </h3>
        </div>
        <button onclick="history.go(-1)" id="back">
            Click here to go back
        </button>
    </center>
</body>

</html>