<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            background: url(https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg);
            margin-top: 100px;
        }

        #id {
            color: rgb(11, 11, 94);
        }

        #message {
            color: rgba(255, 0, 0, 0.849);
        }

        #back {
            background: #B9DFFF;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }

        #back:hover {
            background: #016ABC;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }
    </style>
</head>

<body>
    <center>
        <div id="warning">
            <h1>FAILED!!</h1>
            <h2>Please recheck the following</h2>
        </div>
        <div id="message">
            <h3>
                <% if(data.length> 0) {%>
                    <% for(var i=0; i< data.length; i++) {%>
                        <div>
                            <%= data[i].msg%>
                        </div>
                        <% } %>
                            <% } %>
            </h3>
        </div>
        <button onclick="history.go(-1)" id="back">
            Click here to go back
        </button>
    </center>
</body>

</html>