<html>

<head>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <style>
        body {
            background: url(https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg);
        }

        p {
            margin-top: 60px;
            font-size: larger;
            color: rgb(2, 19, 36);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-decoration: underline;
        }

        #form {
            color: #000;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
        }

        #submit {
            background: #B9DFFF;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }

        #submit:hover {
            background: #016ABC;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }

        a {
            color: rgb(41, 59, 77);
        }

        a:hover {
            background: #016ABC;
            color: cornsilk;
        }
    </style>

</head>
<title>Student Form</title>

<body>
    <center>
        <h1>
            <p>
                Please fill the student details!!!
            </p>
        </h1>
        <div id="form">
            <form action="/" method="POST" name="main_form">
                <table>
                    <tr>
                        <td>Register Number:</td>
                        <td><input type="text" name="regno" /></td>
                    </tr>
                    <tr>
                        <td>Student's Name:</td>
                        <td><input type="text" name="sname" /></td>
                    </tr>
                    <tr>
                        <td>Father's Name:</td>
                        <td><input type="text" name="fname" /></td>
                    </tr>
                    <tr>
                        <td>Student's Blood Group:</td>
                        <td><input type="text" name="bgroup" /></td>
                    </tr>
                    <tr>
                        <td>Student's Course:</td>
                        <td><input type="text" name="course" /></td>
                    </tr>
                    <tr>
                        <td>Student's Date of birth:</td>
                        <td><input type="date" name="dob" /></td>
                    </tr>
                    <tr>
                        <td>Permanent Address:</td>
                        <td><input type="text" name="address" /></td>
                    </tr>
                    <tr>
                        <td>Student's Phone Number:</td>
                        <td><input type="text" name="phonenumber" /></td>
                    </tr>
                </table>
                <br>
                <center>
                    <input type="submit" value="Generate Qr Code" id="submit" />
                </center>
            </form>
            <a href="./list.ejs" class="student_lsit"> List the students</a>
        </div>
    </center>
</body>