<html>
<title>Student list</title>

<head>
    <style>
        body {
            background: url(https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg);
        }

        #student {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div id="student">
        <center>
            <table>
                <tr>
                    <th>Reg no</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>1PE17CS074</td>
                    <td>ganavi</td>
                </tr>
            </table>
        </center>
    </div>
</body>

</html>