<html>
<title>Student list</title>

<head>
    <style>
        body {
            background: url(https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg);
        }

        #student {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <center>
        <h2> Click on the RegisterNumber to get full details</h2>
        <table>
            <div class="list-group" id="student">
                <!-- loop over blog posts and render them -->
                <% docs.forEach((post)=> { %>
                    <tr>
                        <td> <a href="/list/<%= post.regno %>" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <%= post.regno %> -
                                        <%= post.sname %>
                                </h4>
                            </a></td>
                    </tr>
                    <% }) %>
            </div>
        </table>
    </center>
</body>

</html>