<html>

<head>
    <style>
        body {
            background: url(https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg);
        }

        #back {
            background: #B9DFFF;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }

        #back:hover {
            background: #016ABC;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }

        #accept {
            padding-top: 200px;
        }
    </style>
</head>

<body>
    <center>
        <div id="accept">
            <h1>Your details are accepted <br> The qr code is generated</h1>
            <br>
        </div>
        <br>
        <button onclick="history.go(-1)" id="back">
            Click here to go back
        </button>
    </center>
</body>

</html>