<html>
    <body>
        <center><h1>Your details are accepted <br> The qr code is generated</h1>
        <br>
        <button onclick="history.go(-1)">
            Click here to go back
        </button>
        </center>
    </body>
</html>