<html>

<head>
    <link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
    <center>
        <div id="accept">
            <h1>Your details are accepted <br> The qr code is generated</h1>
            <br>
        </div>
        <br>
        <button onclick="history.go(-1)" id="back">
            Click here to go back
        </button>
    </center>
</body>

</html>