<html>
<title>Student list</title>

<body>
    <table>
        <tr>
            <th>Reg no</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>1PE17CS074</td>
            <td>ganavi</td>
        </tr>
    </table>
</body>

</html>